@page "/"
@inject ISyncLocalStorageService LocalStorageService

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, world!!</h1>
    </NotAuthorized>
    <Authorized>
        <h1>Welcome back, @LocalStorageService.GetItemAsString("username")!!</h1>
    </Authorized>
</AuthorizeView>

Welcome to your new app.


@code{



}