@page "/Settings"
@inject ISyncLocalStorageService localStorage
@inject ShowCompoundLayerSetting showCompoundLayer
@inject AbstractStateLabelSetting abstractStateLabelSetting
@inject ConcreteStateLabelSetting concreteStateLabelSetting
@inject TestSequenceLabelSetting testSequenceLabelSetting
@inject SequenceNodeLabelSetting sequenceNodeLabelSetting
@inject ShowPrefixLabelSettings showPrefixLabelSettings
@inject EnableCompareExperimentalFeature enableCompareExperimentalFeature

<div class="p-3">
    <h3>Settings</h3>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" @bind="showCompoundLayer.Value" id="showCompoundLayer">
      <label class="form-check-label" for="showCompoundLayer">
        Show the compound layer in the graph viewer
      </label>
    </div>

    <div class="card w-50">
        <div class="card-header">
            Expiremental features
        </div>
        <div class="card-body">
            <h5 class="card-title">Expiremental features could generated issues. use with caution.</h5>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" @bind="enableCompareExperimentalFeature.Value" id="showEnableCompareExperimentalFeature">
              <label class="form-check-label" for="showEnableCompareExperimentalFeature">
                Enable graph comparison feature
              </label>
            </div>
        </div>
    </div>

    <div class="card w-50">
      <div class="card-header">
        Graph element labels
      </div>
      <div class="card-body">
        <h5 class="card-title">Please specify which what the label of the element should show</h5>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Abstract State</span>
            <input type="text" class="form-control" @bind-value="abstractStateLabelSetting.Value" >
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Concrete State</span>
            <input type="text" class="form-control" @bind-value="concreteStateLabelSetting.Value" >
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Test Sequence</span>
            <input type="text" class="form-control" @bind-value="testSequenceLabelSetting.Value" >
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sequence Node</span>
            <input type="text" class="form-control" @bind-value="sequenceNodeLabelSetting.Value" >
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" @bind="showPrefixLabelSettings.Value" id="showPrefixLabel">
          <label class="form-check-label" for="showPrefixLabel">
            Show a prefix before each label e.g. AS- for AbstractState
          </label>
        </div>
        <button type="button" class="btn btn-warning" @onclick="SetDefaults" >Revert to default</button>
        <button type="button" class="btn btn-secondary" @onclick="SetToCounter" >Set all labels to 'counter'</button>
      </div>
    </div>



</div>

@code {
    private void SetDefaults()
    {
        showCompoundLayer.SetDefault();
        abstractStateLabelSetting.SetDefault();
        concreteStateLabelSetting.SetDefault();
        testSequenceLabelSetting.SetDefault();
        sequenceNodeLabelSetting.SetDefault();
        showPrefixLabelSettings.SetDefault();
    }

    private void SetToCounter()
    {
        abstractStateLabelSetting.Value = "counter";
        concreteStateLabelSetting.Value = "counter";
        testSequenceLabelSetting.Value = "counter";
        sequenceNodeLabelSetting.Value = "counter";
    }
}
