@page "/Settings"
@inject ISyncLocalStorageService localStorage
@inject ShowCompoundLayerSetting showCompoundLayer

<div class="p-3">
    <h3>Settings</h3>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" @bind-value="showCompoundLayer.Value" id="showCompoundLayer">
      <label class="form-check-label" for="showCompoundLayer">
        Show the compound layer in the graph viewer
      </label>
    </div>

</div>

@code {

}
