@page "/TestSequenceVisualisations/{SequenceId}"
@inject IModelService modelService;

<div class="p-2">
    <h3>TestSequenceVisualisation</h3>
    <div id="visualisationCarousel" class="carousel carousel-dark carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
            @foreach(var visualisation in visulations)
            {
                <button type="button" data-bs-target="#visualisationCarousel" data-bs-slide-to="@visualisation.Order" class="active" aria-current="true" aria-label="Slide @visualisation.Order"></button>
            }
        </div>
        <div class="carousel-inner">
            @foreach(var visualisation in visulations)
            {
                <div class="carousel-item @((visualisation.Order == 0)? "active" : "")">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <img src="data:image/png;base64,@visualisation.BeforeImage" class="d-block w-100">
                            </div>
                            <div class="col">
                                <img src="data:image/png;base64,@visualisation.AfterImage" class="d-block w-100">
                            </div>
                        </div>
                        <div class="row text-center">
                            <br/>
                            <h5>@visualisation.ActionDescription</h5>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#visualisationCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#visualisationCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@code {
    [Parameter] public string SequenceId { get; set; }
    public List<TestSequenceVisualisation> visulations { get; set; } = new();

    protected async override Task OnParametersSetAsync()
    {
        visulations = await modelService
            .GetTestSequenceActions(new SequenceId(SequenceId))
            .ToListAsync();
    }
}
