
    <nav class="navbar navbar-dark bg-dark" style="padding: 8px">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="#">@SelectedElement?.TypeName - Details</a>
            <button id="close-panel" type="button" class="btn-close btn-close-white text-reset" aria-label="Close" ></button>
        </div>
    </nav>

@if (SelectedElement is not null)
{

    <div class="p-3">

    </div>
    <div class="container-fluid p-3">
        <div class="btn-group" role="group" aria-label="Show amount of nodes">
            <button type="button" class="btn btn-secondary" disabled>
                Abstract States <span class="badge bg-light text-dark rounded-pill"></span>
            </button>
        </div>
    </div>

    <h3>GraphElement Viewer</h3>

    <p>Selected Id: @SelectedElement.Document.Id</p>
}


@code {
    public GraphElement? SelectedElement { get; set; }

    public void ShowGraphElement(GraphElement element)
    {
        SelectedElement = element;
        StateHasChanged();
    }
}