@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-light bg-dark text-white">
            <div class="container-fluid">
                <a class="navbar-brand text-warning" href="#">TESTAR.NET</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
                    <li><a href="" class="nav-link px-2 text-white">Home</a></li>
                    <AuthorizeView>
                        <Authorized>
                            <li><a href="/Models" class="nav-link px-2 text-white">Models</a></li>
                        </Authorized>
                    </AuthorizeView>
                    <li><a href="https://testar.org/" target="_blank" class="nav-link px-2 text-white">About Testar</a></li>
                </ul>
                <div class="text-end">
                    <AuthorizeView>
                        <Authorized>
                            <a href="Logout" class="btn btn-outline-light me-2">Logout</a>
                        </Authorized>
                        <NotAuthorized>
                            <a href="Login" class="btn btn-warning">Login</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </nav>

        <article class="content p-0 m-0">
            @Body
        </article>
    </main>

</div>