@inject ILocalStorageService LocalStorageService;
@inject AuthenticationStateProvider AuthStateProvider;


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChangeDetection.NET</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="Graph" Match="NavLinkMatch.All">
                <span class="oi oi-graph" aria-hidden="true"></span> Graph
            </NavLink>
        </div>
        <div class="dropdown-divider"></div>
        <div class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <a class="nav-link" @onclick="Logout" style="cursor: pointer">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void Logout()
    {
        await LocalStorageService.RemoveItemAsync("username");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
